{% extends "layout.html" %}
{% block body %}
<div class="header">
    <a class="back-button-edit" href="/">
        <span class="material-icons material-symbols-outlined mb-3">arrow_back</span>
    </a>
    <h1>{{ culture_name }}</h1>
    <p><strong>Lifecycle: </strong>{{ lifecycle_name }}</p>
</div>
<form action="/edit_humidity_action" method="post">
    <div class="range-form-title h3 text-center mt-4">
        Set Humidity Range
    </div>
    <div class="d-grid gap-2 col-7 mx-auto text-center">
    <hr>
    <div class="mb-3 row mx-auto">
        <label for="inputMin" class="col-auto col-form-label">Minimum: </label>
        <div class="col-auto">
          <input name="humidityMin" type="text" class="form-control" id="inputMin" value="{{ humidity_range[0][0] }}">
        </div>
        <span class="col-auto">
            %
        </span>
    </div>
    <div class="mb-3 row mx-auto">
        <label for="inputMax" class="col-auto col-form-label">Maximum: </label>
        <div class="col-auto">
            <input name="humidityMax" type="text" class="form-control" id="inputMax" value="{{ humidity_range[0][1] }}">
        </div>
        <span class="col-auto">
            %
        </span>
    </div>
    <input type="submit" class="btn btn-secondary p-2 mt-5" value="Confirm">
  </div>
</form>
<form action="/reset_default_humidity">
    <div class="text-center mt-5">
        <input class="btn btn-link" type="submit" value="Reset to default preset value">
    </div>
</form>
{% endblock %}