{% extends "layout.html" %}
{% block body %}
<div class="header">
    <a class="back-button-edit" href="/">
        <span class="material-icons material-symbols-outlined mb-3">arrow_back</span>
    </a>
    <h1>{{ culture_name }}</h1>
    <p><strong>Lifecycle: </strong>{{ lifecycle_name }}</p>
</div>
<form onsubmit="return validateEditTemperatureForm()" action="/edit_temp_action" method="post" name="edit_temp">
    <div class="range-form-title h3 text-center mt-4">
        Set Air Temperature Range
    </div>
    <div class="d-grid gap-2 col-7 mx-auto text-center">
    <hr>
    <div class="mb-3 row mx-auto">
        <label for="inputMin" class="col-auto col-form-label">Minimum: </label>
        <div class="col-auto">
          <input name="tempMin" type="number" step="0.1" class="form-control" id="inputMin" value="{{ tempRange[0][0] }}" onfocusin="validateEditTemperatureForm()" onfocusout="validateEditTemperatureForm()" required>
        </div>
        <span class="col-auto">
            °C
        </span>
    </div>
    <div class="mb-3 row mx-auto">
        <label for="inputMax" class="col-auto col-form-label">Maximum: </label>
        <div class="col-auto">
            <input name="tempMax" type="number" step="0.1" class="form-control" id="inputMax" value="{{ tempRange[0][1] }}" onfocusin="validateEditTemperatureForm()" onfocusout="validateEditTemperatureForm()" required>
        </div>
        <span class="col-auto">
            °C
        </span>
    </div>
        <span id="tempErrorMessage" class="mt-3 text-danger"></span>
    <input type="submit" class="btn btn-secondary p-2 mt-5" value="Confirm">
  </div>
</form>
<form action="/reset_default_temp">
    <div class="text-center mt-5">
        <input class="btn btn-link" type="submit" value="Reset to default preset value">
    </div>
</form>
<script src="../static/js/form_validation.js"></script>
{% endblock %}