{% extends "layout.html" %}
{% block body %}
<div class="d-flex align-items-center mt-5">
    <div class="d-grid gap-2 col-7 mx-auto text-center">
        <img class="logo mx-auto" src="/static/images/evergreens_logo.png" alt="Evergreens Logo">
        <h1>Greenhouse Management System</h1>
        <a href="/signup" class="btn btn-outline-secondary p-2 mt-5">
            Sign up with email
        </a>
        <span class="my-2">or</span>
        <a href="/login" class="btn btn-outline-secondary p-2">
            Log in with account
        </a>
        <a href="/google_login" class="btn btn-outline-secondary p-2 mt-2">
            <img class="google-logo" src="/static/images/google_logo.png" alt="Google Logo">
            &nbsp;&nbsp;Log in with Google
        </a>
    </div>
</div>
{% endblock %}