{% extends "layout.html" %}
{% block body %}
<script src="static/js/main.js"></script>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.0.js"></script>
<div class="header">
    <div class="position-absolute notifications-icon">
        <a href="/notifications" class="btn btn-light position-relative">
            <span class="material-icons material-symbols-outlined">
                notifications
            </span>
            <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
            </span>
        </a>
    </div>
    <h1>{{ culture_name }}</h1>
    <span>
        <div class="dropdown">
            Lifecycle: &nbsp;
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuLifecycle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ cur_lifecycle[0][0] }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLifecycle">
              {% for lifecycle in lifecycles %}
              <li><a class="dropdown-item" href="/lifecycle/{{ lifecycle[0] }}">{{ lifecycle[1] }}</a></li>
              {% endfor %}
          </ul>
        </div>
    </span>
</div>
<div class="header mt-0 sticky-top menu">
    <a href="#temperature">
        <span class="material-icons material-symbols-outlined">device_thermostat</span>
        Air Temperature
    </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#humidity">
        <span class="material-icons material-symbols-outlined">humidity_percentage</span>
        Air Humidity
    </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#pHlevel">
        <span class="material-icons material-symbols-outlined">water_ph</span>
        Water pH Level
    </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#moisture">
        <span class="material-icons material-symbols-outlined">water</span>
        Soil Moisture
    </a>
</div>
<div class="measurements" id="temperature">
    <div class="measurements-icon-title">
        <span class="material-icons material-symbols-outlined">device_thermostat</span>
        <span class="measurements-title">Air Temperature</span>
    </div>
    <div class="container px-5 my-4">
      <div class="row gx-4">
        <div class="col">
            <p class="h5 text-center m-3">Current</p>
                <div class="measurements-box">
                    <div class="p-3 text-center">
                        <p id="cur-temp">-</p>
                        <p class="h6">OK</p>
                    </div>
                </div>
        </div>
        <div class="col">
            <p class="h5 text-center m-3">Preset Value</p>
            <div class="measurements-box min-max-line">
                <div class="p-3 text-center">
                    <div>
                        <p>{{ preset_data[0][3] }}°C</p>
                        <p class="h6">Min</p>
                    </div>
                </div>

                <div class="p-3 text-center">
                    <p>{{ preset_data[0][4] }}°C</p>
                    <p class="h6">Max</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="text-center">
        <a href="/edit_temp" class="btn btn-secondary my-4">Set Preset Range</a>
    </div>
</div>
<hr class="m-3">
<div class="measurements" id="humidity">
    <div class="measurements-icon-title">
        <span class="material-icons material-symbols-outlined">humidity_percentage</span>
        <span class="measurements-title">Air Humidity</span>
    </div>
    <div class="container px-5 my-4">
      <div class="row gx-4">
        <div class="col">
            <p class="h5 text-center m-3">Current</p>
                <div class="measurements-box">
                    <div class="p-3 text-center">
                        <p id="cur-humidity">-</p>
                        <p class="h6">OK</p>
                    </div>
                </div>
        </div>
        <div class="col">
            <p class="h5 text-center m-3">Preset Value</p>
            <div class="measurements-box min-max-line">
                <div class="p-3 text-center">
                    <div>
                        <p>{{ preset_data[0][5] }}%</p>
                        <p class="h6">Min</p>
                    </div>
                </div>

                <div class="p-3 text-center">
                    <p>{{ preset_data[0][6] }}%</p>
                    <p class="h6">Max</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="text-center">
        <a href="/edit_humidity" class="btn btn-secondary my-4">Set Preset Range</a>
    </div>
</div>
<hr class="m-3">
<div class="measurements" id="pHlevel">
    <div class="measurements-icon-title">
        <span class="material-icons material-symbols-outlined">water_ph</span>
        <span class="measurements-title">Water pH Level</span>
    </div>
    <div class="container px-5 my-4">
      <div class="row gx-4">
        <div class="col">
            <p class="h5 text-center m-3">Current</p>
                <div class="measurements-box">
                    <div class="p-3 text-center">
                        <p id="cur-ph">-</p>
                        <p class="h6">OK</p>
                    </div>
                </div>
        </div>
        <div class="col">
            <p class="h5 text-center m-3">Preset Value</p>
            <div class="measurements-box min-max-line">
                <div class="p-3 text-center">
                    <div>
                        <p>{{ preset_data[0][7] }}</p>
                        <p class="h6">Min</p>
                    </div>
                </div>

                <div class="p-3 text-center">
                    <p>{{ preset_data[0][8] }}</p>
                    <p class="h6">Max</p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="text-center">
        <a href="/edit_ph" class="btn btn-secondary my-4">Set Preset Range</a>
    </div>
</div>
<hr class="m-3" id="moisture">
<div class="measurements">
    <div class="measurements-icon-title">
        <span class="material-icons material-symbols-outlined">water</span>
        <span class="measurements-title">Soil Moisture</span>
    </div>
    <div class="container px-5 my-4">
      <div class="row gx-4">
        <div class="col">
            <p class="h5 text-center m-3">Current</p>
                <div class="measurements-box">
                    <div class="p-3 text-center">
                        <p id="cur-moisture">-</p>
                    </div>
                </div>
        </div>
      </div>
    </div>
</div>
<hr class="m-3">
<a href="#" class="float">
    <span class="material-icons material-symbols-outlined my-float">arrow_upward</span>
</a>
{% endblock %}