{% extends "layout.html" %}
{% block body %}
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        Swal.fire({
            title:"{{ message }}",
            confirmButtonColor: "#31453D",
            icon: "error"
        })
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<script src="static/js/main.js"></script>
<div class="header">
    <div class="position-absolute notifications-icon">
        <a href="/notifications" class="btn btn-light position-relative">
            <span class="material-icons material-symbols-outlined">
                notifications
            </span>
            {% if notifications_count > 0 %}
                <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">New alerts</span>
                </span>
            {% endif %}
        </a>
    </div>
    <div class="dropdown position-absolute profile-icon">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-icons material-symbols-outlined">
                person
            </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/logout">Log out</a></li>
        </ul>
    </div>
    <h1>{{ culture_name }}</h1>
    <span>
        <div class="dropdown">
            Lifecycle: &nbsp;
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuLifecycle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ cur_lifecycle[0][0] }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLifecycle">
                {% for lifecycle in lifecycles %}
                <li><a class="dropdown-item" href="/lifecycle/{{ lifecycle[0] }}">{{ lifecycle[1] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </span>
</div>
<div class="header mt-0 sticky-top menu">
    <a href="#temperature">
        <span class="material-icons material-symbols-outlined">device_thermostat</span>
        Air Temperature
    </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#humidity">
        <span class="material-icons material-symbols-outlined">humidity_percentage</span>
        Air Humidity
    </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#pHlevel">
        <span class="material-icons material-symbols-outlined">water_ph</span>
        Water pH Level
    </a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#moisture">
        <span class="material-icons material-symbols-outlined">water</span>
        Soil Moisture
    </a>
</div>
<div class="measurements" id="temperature">
    <div class="measurements-icon-title">
        <span class="material-icons material-symbols-outlined">device_thermostat</span>
        <span class="measurements-title">Air Temperature</span>
    </div>
    <div class="container px-5 my-4">
        <div class="row gx-4">
            <div class="col">
                <p class="h5 text-center m-3">Current</p>
                <div class="measurements-box" id="temp-box">
                    <div class="p-3 text-center">
                        <p id="cur-temp">-</p>
                        <p class="h6" id="temp-range">Temperature OK</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="h5 text-center m-3">Expected Range</p>
                <div class="measurements-box min-max-line">
                    <div class="p-3 text-center">
                        <div>
                            <p>{{ preset_data[0][3] }}°C</p>
                            <p class="h6">Min</p>
                        </div>
                    </div>
                    <div class="p-3 text-center">
                        <p>{{ preset_data[0][4] }}°C</p>
                        <p class="h6">Max</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-2">
            <a href="/edit_temp" class="w-100 btn btn-secondary my-4">Set Expected Range</a>
        </div>
        <div class="col-2">
            <a href="/temp_graph" class="w-100 btn btn-secondary my-4">View Graph</a>
        </div>
    </div>
</div>
<hr class="m-3">
<div class="measurements" id="humidity">
    <div class="measurements-icon-title">
        <span class="material-icons material-symbols-outlined">humidity_percentage</span>
        <span class="measurements-title">Air Humidity</span>
    </div>
    <div class="container px-5 my-4">
        <div class="row gx-4">
            <div class="col">
                <p class="h5 text-center m-3">Current</p>
                <div class="measurements-box" id="humidity-box">
                    <div class="p-3 text-center">
                        <p id="cur-humidity">-</p>
                        <p class="h6" id="humidity-range">Humidity OK</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="h5 text-center m-3">Expected Range</p>
                <div class="measurements-box min-max-line">
                    <div class="p-3 text-center">
                        <div>
                            <p>{{ preset_data[0][5] }}%</p>
                            <p class="h6">Min</p>
                        </div>
                    </div>
                    <div class="p-3 text-center">
                        <p>{{ preset_data[0][6] }}%</p>
                        <p class="h6">Max</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-2">
            <a href="/edit_humidity" class="w-100 btn btn-secondary my-4">Set Expected Range</a>
        </div>
        <div class="col-2">
            <a href="/humidity_graph" class="w-100 btn btn-secondary my-4">View Graph</a>
        </div>
    </div>
</div>
<hr class="m-3">
<div class="measurements" id="pHlevel">
    <div class="measurements-icon-title">
        <span class="material-icons material-symbols-outlined">water_ph</span>
        <span class="measurements-title">Water pH Level</span>
    </div>
    <div class="container px-5 my-4">
        <div class="row gx-4">
            <div class="col">
                <p class="h5 text-center m-3">Current</p>
                <div class="measurements-box" id="ph-box">
                    <div class="p-3 text-center">
                        <p id="cur-ph">-</p>
                        <p class="h6" id="ph-range">pH OK</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <p class="h5 text-center m-3">Expected Range</p>
                <div class="measurements-box min-max-line">
                    <div class="p-3 text-center">
                        <div>
                            <p>{{ preset_data[0][7] }}</p>
                            <p class="h6">Min</p>
                        </div>
                    </div>
                    <div class="p-3 text-center">
                        <p>{{ preset_data[0][8] }}</p>
                        <p class="h6">Max</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-2">
            <a href="/edit_ph" class="w-100 btn btn-secondary my-4">Set Expected Range</a>
        </div>
        <div class="col-2">
            <a href="/ph_graph" class="w-100 btn btn-secondary my-4">View Graph</a>
        </div>
    </div>
</div>
<hr class="m-3" id="moisture">
<div class="measurements">
    <div class="measurements-icon-title">
        <span class="material-icons material-symbols-outlined">water</span>
        <span class="measurements-title">Soil Moisture</span>
    </div>
    <div class="container px-5 my-4">
        <div class="row gx-4">
            <div class="col">
                <p class="h5 text-center m-3">Current</p>
                <div class="measurements-box">
                    <div class="p-3 text-center">
                        <p id="cur-moisture">-</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="m-3">
<a href="#" class="float">
    <span class="material-icons material-symbols-outlined my-float">arrow_upward</span>
</a>
{% endblock %}