{% extends "layout.html" %}
{% block body %}
<div class="header">
    <a class="back-button-edit" href="/">
        <span class="material-icons material-symbols-outlined mb-3">arrow_back</span>
    </a>
    <h1>Notifications</h1>
</div>
<div id="notifications-body">
    <div class="w-100 h-25 border-bottom border-secondary">
        <div class="d-flex p-3 justify-content-center my-2 align-items-center">
            <span class="material-icons material-symbols-outlined fs-1">directions_run</span>
            <div class="mx-4 d-flex flex-column">
                <span>Fri Dec 2 2022 | 10:46</span>
                <p class="fw-bold h6 my-2">Motion detected near crops</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}