@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,800&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$off-white: #FEFAF5;
$green: #31453D;
$light-green: #8db8a7;
$brown: #61513C;

$heading-font: 'Playfair Display', serif;
$body-font: 'Quattrocento Sans', sans-serif;

html {
    height: 100%;
}

body {
    background-color: $off-white;
    font-family: $body-font;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
    color: $green;
}


.btn-outline-secondary {
    border-color: $green;
    color: $green;
    border-radius: 50px;

    &:hover {
        background-color: $green;
        border-color: $green;
        color: white;
    }

}

.btn-link {
    color: $green;

    &:hover, &:active, &:focus {
        color: $green;
    }
}

.btn-secondary {
    background-color: $green;
    color: white;
    border-radius: 50px;

    &:hover, &:active, &:focus {
        background-color: $green;
        border-color: $green;
        color: white;
    }
}

.btn-light {
    background-color: white;
    border-color: $green;

    &:active, &:focus, &:hover {
        background-color: white;
        border-color: $green;
    }
}

.back-button {
    color: $green;

    &:hover {
        color: $green;
    }
}

.back-button-edit {
    color: $off-white;

    &:hover {
        color: $off-white;
    }
}

.logo {
    width: 155px;
}

.header {
    width: 100vw;
    background-color: $green;
    padding: 25px;
    color: $off-white;
    text-align: center;

    h1 {
        color: $off-white;
        text-align: center;
        padding-bottom: 10px;
    }

    .material-icons {
        display: inline-flex;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
        color: $off-white;
    }
}

.measurements {
    margin: 30px;
    font-size: xx-large;

    .material-icons {
        display: inline-flex;
        vertical-align: middle;
    }

    .measurements-icon-title {
        color: $brown;
        text-align: center;
    }

    .measurements-title {
        font-family: $body-font;
        font-weight: bold;
    }

    .measurements-box {
        display: flex;
        justify-content: space-evenly;
        margin: 5px 0;
        border: 3px solid $light-green;
        border-radius: 25px;
    }

    .min-max-line {
        background: linear-gradient($light-green, $light-green) no-repeat center/3px 100%;
    }
}

.float{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: $green;
	color: $off-white;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;

    &:hover {
        color: $off-white;
    }
}

.my-float{
	margin-top: 16px;
}

.range-form-title {
    color: $brown;
    font-weight: bold;
}